* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #457b9d 50%, #a5eaec);
    height: 100vh;
}

h1 {
    color: #22223b;
    font-size: 8vmin;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 9vmin;
    color: #b0413e;
    background-color: #dcf4f5;
}

#new-game {
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bolder;
    background-color:  #fcbf49;
    border: none;
    color: #22223b;
    border-radius: 40px;
}

#reset {
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bolder;
    background-color:  #fcbf49;
    border: none;
    color: #22223b;
    border-radius: 40px;
    margin-right: 10px;
}

#msg {
    color: #dcf4f5;
    font-size: 5vmin;
}

.hide {
    display: none;
}